$light-tan: #faf6e9;
$light-yellow: #ebf2a1;
$lighter-yellow: lighten($light-yellow, 10%);
$light-green: #aeefb1;
$lighter-green: lighten($light-green, 15%);
$light-red: #f56161;
$light-grey: #dddddd;
$medium-grey: #d9d7d0;
$off-white: #fcfcfc;
$light-blue: #c6fffd;
$light-grey-blue: #c5dfde;



//keep styles contained within pivotpress
@import 'custom_resets';
@import 'bootstrap';

#pivotpress {

  @import 'story';

}

